# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.env
.venv/
venv/

# Flask
*.log

# Node / React
task-frontend/node_modules/
task-frontend/build/
task-frontend/dist/
task-frontend/.env

# IDE / Editor
.idea/
.vscode/
*.iml

# Mac / OS
.DS_Store
